.menu {
	float: left;
	width: 100px;
	margin-top: 100px;
	position: fixed;
}

.menu a{
	background-color: lightgray;
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	text-decoration: none;
	font-family: "Century";
}

.menu a:hover{
	background-color: white;
}

.menu a.active{
	background-color: rgb(135,206,250);
}

.content {
	float: left;
	margin-left: 115px;
	margin-right: 115px;
}

.header1{
	clear: both;
	font-style: italic;
	font-size: 36px;
	text-align: center;
	padding: 15px;
}

.header2{
	clear: both;
	font-style: bold;
	font-size: 24px;
	text-align: left;
}

.footer{
	clear: both;
	text-align: center;
	padding: 15px;
}

body{
	background: url(dia.png) left top repeat;
	width: 100%;
	margin: 0 auto;
	font-family:"Century";
}
