.menu {
	float: left;
	width: 100px;
	margin-top: 100px;
	position: fixed;
	padding:15px;
}

.content {
	float: left;
	margin-left: 115px;
	margin-right: 115px;
}

.header1{
	clear: both;
	font-family: "Century";
	font-style: italic;
	font-size: 36px;
	text-align: center;
	padding: 15px;
}

.header2{
	clear: both;
	font-family: "Century";
	font-style: bold;
	font-size: 24px;
	text-align: left;
}

.footer{
	clear: both;
	text-align: center;
	padding: 15px;
}

.back{
	background: url(dia.png) left top repeat;
	height: 100%;
	width: 100%;
}
